#operation {
    border: 2px solid #777;
    background-color: #f7f7f7;
    min-height: 80px;
    margin: 8px 0;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
}

#operator-ac {
    color: #eee;
    background-color: #555;
}

#operator-ac:hover {
    background-color: #333;
}

#operator-ce {
    background-color: #a11919;
    color: #eee;
}

#operator-ce:hover {
    background-color: #7a0e0e;
}

.container {
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 512px;
    margin: 128px auto;
    padding: 16px;
    background-color: #ccc;
    border: 1px solid #777;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.row {
    display: flex;
    flex: 1;
    padding: 4px;
    gap: 8px;
}

.row button {
    flex: 1;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.row .operator {
    background-color: #777;
    color: #eee;
}

.row button:hover {
    background-color: #ddd;
}

.row .operator:hover {
    background-color: #555;
}

.digit {
    background-color: #e0e0e0;
    color: #333;
}
